<div class="col-md-6 offset-md-3">
    
    <h2 class="text-center">Actualizar Producto</h2>
    
    <form (ngSubmit)="onUpdate()" #updateProducto = "ngForm">
        
        <div class="form-group">
            
            <label>Descripcion</label>
            <input type="text" 
            class="form-control" 
            id="descripcion" 
            name="descripcion"
            [(ngModel)]="producto.producto_descripcion" 
            minlength="4" 
            maxlength="50" 
            placeholder="Descripcion" 
            #descripcion = "ngModel" required>
            
            <div class="alert alert-danger" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                
                <div *ngIf="descripcion.errors.required">
                    
                    Digite un descripcion valido
                    
                </div>
                
                <div *ngIf="descripcion.errors.minlength">
                    
                    Digite al menos 4 digitos
                    
                </div>
                
            </div>
            
        </div>
        
        <div class="form-group">
            
            <label>Precio</label>
            <input type="number" 
            class="form-control" 
            id="precio" 
            name="precio"
            [(ngModel)]="producto.precio" 
            maxlength="50" 
            placeholder="Precio" 
            #precio = "ngModel" required>
            
            <div class="alert alert-danger" *ngIf="precio.invalid && (precio.dirty || precio.touched)">
                
                <div *ngIf="precio.errors.required">
                    
                    Digite un precio valido
                    
                </div>
                
            </div>
            
        </div>
        
        <div class="form-group">
            
            <label>Stock</label>
            <input type="number" 
            class="form-control" 
            id="cantidad" 
            name="cantidad"
            [(ngModel)]="producto.cantidad" 
            maxlength="50" 
            placeholder="Cantidad" 
            #cantidad = "ngModel" required>
            
            <div class="alert alert-danger" *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)">
                
                <div *ngIf="cantidad.errors.required">
                    
                    Digite un cantidad valido
                    
                </div>
                
            </div>
            
        </div>
        
        <button class="btn btn-success" [disabled]="!updateProducto.form.valid">Guardar</button>
        
    </form>
    
</div>